<mat-card>
  <mat-card-content>
    <form>
      <h2>Login</h2>
      <mat-error *ngIf="loginInvalid">
        O nome de usuário e a senha não foram reconhecidos
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        <mat-error>
          Forneça um usuário válido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        <mat-error>
          Forneça uma senha válida
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-stroked-button color="accent" class="button" (click)="login()">Login</button>
      <br>
      <br>
      <button mat-stroked-button color="accent" class="button" routerLink='{{prefix}}cadastro'>Registrar-se</button>
    </form>
  </mat-card-content>
</mat-card>
